<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Upload File</title>
  </head>
  <body>
    <h1>Upload File</h1>
    {% if message %}
    <p>{{ message }}</p>
    {% endif %}
    <form action="{{upload_url}}" method="post" enctype="multipart/form-data">
      <input type="file" name="file" />
      <br /><br />
      <input type="submit" value="Upload" />
    </form>
    <a href="{{ url_for('welcome', token=session.get('token')) }}"
      >Back to Welcome Page</a
    >
  </body>
</html>
